[submodule "seshat"]
	path = seshat
	url = git@github.com:shinaoka/seshat.git
	branch = bump/v4.1.0
[submodule "element-web"]
	path = element-web
	url = git@github.com:shinaoka/element-web.git
	branch = shinaoka/tokenizer-mode
